#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-input {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  width: 28rem;
}

.image-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32rem;
  height: 32rem;
  padding: 1rem;
  margin-top: 5rem;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
}

.image {
  width: 90%;
  height: 100%;
}

.prev-button {
  margin-left: -3rem;
}

.next-button {
  margin-right: -3rem;
}