#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 24rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 0.5rem;
}

.screen {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  height: 12rem;
  background-color: lightgrey;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.keys {
  margin: 0.5rem;
}